/*OPGAVE1 / INDEX.HTML FILE.*//*---------------------------------------------------------------------------------------------------*/
*{
  box-sizing: border-box;
}
div#wrapper {
  width: 1200px;
  margin: auto;

}
table, th, td {
  border: 2px solid #0e8665;
  border-collapse: collapse;
  background-color: white;
}
table {
  text-align: center;
}
section{
padding-bottom: 20px;
  background-color: lightsteelblue;

}


/*OPGAVE 2*//*----------------------------------------------------------------------------------------------------------------------*/
header{
  text-align: center;
}

table#t01 th  {
  border: 2px solid burlywood;

}
table#t01 td {
  border: 2px solid burlywood;

}

table#t02  th {
  border: 2px solid black;
  border-collapse: collapse;


}
table#t02 td {
  border: 2px solid black;

}

table#t03 th {
  border: 4px solid rebeccapurple;
  border-collapse: collapse;
}

table#t03 td{

  border: 4px solid rebeccapurple;
}
