/*OPGAVE1 / INDEX.HTML FILE.*//*---------------------------------------------------------------------------------------------------*/
*{
  box-sizing: border-box;
}
div#wrapper {
  width: 1200px;
  margin: auto;

}

 #table\.2{
   border: 1px black solid;
   text-align: center;
   border-collapse: inherit;
   width: 410px;
   border-spacing: 4px;
   height: 290px;
 }
 #table1{
   border: 5px black solid;
   text-align: center;
   border-collapse: collapse;
   width: 550px;
   height: 150px;
 }
 .table2 td{
   border: black;

   border-width: 1.1px;
   border-style: groove;

 }
 .table3 td{
   border: black;
   border-width: 1.1px;
   border-style: groove;

 }
.table3{
  text-align: center;
  height:200px ;
  width:800px ;
  border: 1px black solid;

  border-collapse: inherit;

  border-spacing: 4px;

}

