*{
  box-sizing: border-box;
}
div#wrapper {
  width: 1060px;
  margin: auto;
  background-color:#FFE9EB;

}
body{

}


article#text {
  margin-top: 10px;
  display: inline-block;
  margin-left: 40px;

 }
section#whole-text{
margin-left: -20px
}
article#img{
  padding-left: 20px;
  margin-top: 30px;

}
section#img-2{
margin-top: -345px;
  margin-left:530px;
}
#logo{
  margin-left: 20px;

}

img.article{
  padding-left:-100px;
  margin-top: 10px;
  display: inline-block;
  position: absolute;
}
nav{
  padding-left: 20px;
}
a{
  padding-left: 10px;
}
