/* This is the laptop version*/
* {
  box-sizing: border-box;
}
#wrapper{
  background-color: #f9f1eb;
}
body {
  background-color: white;
  padding:0px;
  margin:0px;
}
header {
  background-color: rgba(0, 64, 230, 0);
}
#logo {
  background-color: #caecde
}
h3, h2{
  color:#d88c7d;
}
h2 h3{

}
/*-- Navigatie --*/
header{
  width: 1200px;
}
nav{
  box-sizing: border-box;
  height: 65px;
  background-color: #808080;
  font-size: 20px;
  color: gray;
  display:block;
}

a {
  padding: 10px;
  padding-left: 30px;
  border-top: 1px black;


}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 700;

}

/* this is the tablet versions */
@media screen and (min-width: 549px) and (max-width: 920px) {
  article{
    height: 400px;
  }
  nav{
    width: unset;
  }
}


@media all and (min-width:920px) {

  section#nieuws {
    width: 65%;
    float: left;
    height: 20%;
    margin-left:auto;
    block-size: 2px;
  }
  article img{
    width: 200px ;
    height:200px ;
  }

  section#instrumenten {
    padding-bottom: 60px;
    margin-left: 100px;
    width: 70%;
    float: right;
  }
  article {
    display: inline-block;
    width: 42%;

  }

  #logo {
    margin-top: 30px;
    height: 150px
  }
  footer {
    background-color: rgb(128,128,128);
    color: black;
    clear: both;
  }

}

@media all and (min-width:1200px) {
  div#wrapper {
    width: 1200px;
    margin: auto;
  }
  nav{
    width: 1200px;
    padding-top: 10px;
  }
  footer {
    height: 100px;
    background-color: rgb(128, 128, 128);
    color: black;
    clear: both;
  }
  img.article {
    width: 250px;
    height: 250px;
    padding-bottom: 15px;
  }
  section, footer {
    padding-left: 15px;
  }

  header {
    clear: both;
  }
}
/* This is the M version of a mobile */

@media all and (min-width: 550px) {
  /*sectie article*/
  article {
    display: inline-block;
    padding-left: 10px;
  }
  nav a{
    width: auto ;
    clear: both;
  }
  a{

  }

  #nieuws{
    width: 250px;
  }
  #instrumenten{
    width: ;
  }
  #instrumenten img{
    width: 200px;
    height: 100px;
  }
}
  @media all and (max-width: 549px) {
  nav a{
    display: list-item;
    border-bottom: 1.5px white solid;
  }
  nav{
    position: initial;
    padding-bottom: 220px;

  }
  img{
    width: 350px ;
    height:250px ;
  }
  .text1{
    width: 375px;
  }
  #logo img{
    height: 100px;
    width: 200px;
  }
}
@media screen and (min-width: 430px) and (max-width: 549px) {
  article {
    width: 400px;
    padding-left: 15px;
  }


  div#wrapper, footer, section {
    margin: auto;
  }

  header {
    width: unset;
  }

  footer {
    background-color: grey;
  }
}
@media screen and (min-width: 320px) and (max-width: 430px) {
  article {
    width: 300px;
    padding-left: 15px;
  }
  div#wrapper, footer, section {
    margin: auto;

    background-color: #f9f1eb;
  }
  header {
    width: unset;
  }

  footer {
    background-color: grey;
  }
  .text1{
    width: 280px;
  }

}





