*{
  box-sizing: border-box;
}
div#wrapper {
  width: 1000px;
  margin: auto;

}
table, th, td {
  border: 2px solid #0e8665;
  border-collapse: collapse;
  background-color: white;

}
table {
  text-align: center;

}
section{
  padding-bottom: 2px;
  background-color: black;
}
#button{
  background-color: black;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
}
article{
  width: 500px;
  padding-bottom: 30px;
}
footer{
  padding-top: 20px;
  background-color: black;
  color: white;
  text-decoration: none;
}


#t01{
  padding-bottom: 20px;
  height:270px;
  width: 46%;
}
.column1{
  background-color: #D1F0C4;
}
.column2{
  background-color: #C5EBF8;
}
a:hover{
  color: mediumaquamarine;
}


table#t01, td, th {
  margin-left: 540px;
  margin-top:-210px;
  border:1px solid black;
  border-collapse: collapse;
  align-content: normal;
}

